/*//META{"name":"Reborn","description":"Phoenix Theme Bundle: Transparent, fully customizable theme with multiple addons","author":"Lil Monster","version":"1.0", "website":"https://discord.gg/TeRQEPb"}*//**/

/* IMPORT CSS FROM GITHUB */
@import "https://monstrousdev.github.io/themes/phoenix-bundle/reborn.css";
/*
===== IMPORTANT =====
CHANGE DISCORDS THEME TO DARK THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!

Registered: Black Box Theme

===== CUSTOMIZABLE COLORS AND IMAGES =====
*/
:root { 
	--main-color: #72e0b6;
  --hover-color: #3af2ab;
  --background-image: url(https://4.bp.blogspot.com/-i4vf_mu6-Ew/WZHoeg0peQI/AAAAAAAArpI/VhYPJrY6a18oKK5ZEQM528IJDZOrbXCgACEwYBhgL/s1600/6a61814c9f0afe21.jpg);
  --popup-background: url(https://4.bp.blogspot.com/-i4vf_mu6-Ew/WZHoeg0peQI/AAAAAAAArpI/VhYPJrY6a18oKK5ZEQM528IJDZOrbXCgACEwYBhgL/s1600/6a61814c9f0afe21.jpg);
 }


/*
---------------------------------------------------------------------------------------------------------------------------------------------
===== CREDITS =====
URI
BEARDDESIGN
ZERTHOX
THESE PEOPLE HAVE HELPED CREATE THIS THEME IN ONE WAY OR THE OTHER.
===== TROUBLESHOOTING =====
IF YOU NEED ANY HELP GO TO https://discord.gg/TeRQEPb
---------------------------------------------------------------------------------------------------------------------------------------------
*/
